<cdk-accordion class="example-accordion" >
    <cdk-accordion-item
      *ngFor="let item of investmentData[1] | keyvalue; let index = index;"
      #accordionItem="cdkAccordionItem"
      class="example-accordion-item"
      role="button"
      tabindex="0"
      [attr.id]="'accordion-header-' + index"
      [attr.aria-expanded]="accordionItem.expanded"
      [attr.aria-controls]="'accordion-body-' + index">
      <div class="example-accordion-item-header" (click)="accordionItem.toggle()">
      <!-- <div class="example-accordion-item-header" > -->
        {{ item.key }}
        <span class="example-accordion-item-description">
          <!-- Click to {{ accordionItem.expanded ? 'close' : 'open' }} -->
          $ {{item.value}}
          <!-- {{ item.value | currency}} -->

        </span>
      </div>
      <!-- uncomment to enable description -->
      <!-- <div
        class="example-accordion-item-body"
        role="region"
        [style.display]="accordionItem.expanded ? '' : 'none'"
        [attr.id]="'accordion-body-' + index"
        [attr.aria-labelledby]="'accordion-header-' + index">
        I haz {{item.value}} shares  of {{item.value}}
      </div> -->
    </cdk-accordion-item>
  </cdk-accordion>
  
  