/* .market-movers-major-indexes-container {
  display: flex;
  flex-direction: column;
} */

.market-movers-panel-title {
  /* width: 100%; */
  background-color: #1B2351;
  color: white;
  margin-top: 10px;
}
