/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  /* background-color: #003B70; */
  /* background-color: #DCDEE5; */
  background-color: #CED2E0;
  height: 1100px;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  width: 100vw;
  height: 130vh;
  display: flex;
  flex-direction: column;
}

.main-body-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.chart-container {
  width: 60vw;
  display: flex;
  justify-content: space-around;
  align-content: flex-end;
  flex-direction: row;
  height: 45vh;
  margin-top: 50px;
  margin-left: 15px;
  color: white;
  /* border: 5px solid black; */
}

.chart-table-container {
  /* display: flex; */
  justify-content: space-around;
  flex-direction: column;
}

.fake_ad_active {
  width: 15vw;

}

.fake_ad_inactive {
  width: 15vw;
  display: none;
}

.table-container {
  margin-top: 30px;
}

.market-movers-container {
  margin-left: 20px;
  width: 15vw;
  margin-right: 10px;
}

.app-networth-panel {
  width: 25vw;
  /* height: 100vh; */
  /* flex-direction: column; */
  /* background-color: blue; */
}

.app-networth-bar-chart {
  /* width: 40vw;
  height: 20vh; */
  /* background-color: red; */
}
