<body [ngStyle]="{'background-color': (nightMode) ? '#232C47' : '#DCDEE5'}">
  <div class="header">
    <app-navbar (nightModeToggle)="toggleNightMode($event)" ></app-navbar>
  </div>
  <div class="main-body-div">
    <div>
    <app-networth-panel class="app-networth-panel"></app-networth-panel>
  </div>
    <div class="chart-container">
      <app-networth-bar-chart></app-networth-bar-chart>
      <app-cash-flow-income-chart></app-cash-flow-income-chart>
    </div>
    <div class="market-movers-container">
      <app-market-movers></app-market-movers>
    </div>
  </div>
</body>