<div class="networth-panel-container">
<mat-accordion [multi] = "true">
    <mat-panel-title>
        <mat-card class="networth-panel-title">Net Worth</mat-card>
    </mat-panel-title>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Cash
        </mat-panel-title>
        <mat-panel-description>
          {{cashData[0] | currency}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-cash-panel (sendCashTotal)='handleTotalCashValue($event)' [cashData]="cashData" ></app-cash-panel>
    </mat-expansion-panel>
    
      <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Investment
        </mat-panel-title>
        <mat-panel-description>
          {{investmentData[0] | currency}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-invetment-panel [investmentData]="investmentData"></app-invetment-panel>
    </mat-expansion-panel>
  </mat-accordion>
</div>